<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout::head}">
    <meta charset="UTF-8">
    <title>Mantenimiento de Pacientes</title>
</head>
<body>
<script th:src="@{/scripts/web/backoffice/paciente/ListarActualizarPaciente.js}"
        type="text/javascript"></script>
<nav th:replace="~{layout::menu}"></nav>
<div class="card ">
    <div class="card-header text-bg-dark mb-3 text-center">
        Mantenimiento de Pacientes
    </div>
    <div class="card-body">
        <hr />
        <div id="mensaje"></div>

        <table id="tblpaciente" class="table table-striped table-hover text-center">
            <thead class="bg-dark text-white">
            <tr>
                <th scope="col">TipoDocumento</th>
                <th scope="col">N° de Documento</th>
                <th scope="col">Nombres</th>
                <th scope="col">Apellido Paterno</th>
                <th scope="col">Apellido Materno</th>
                <th scope="col">Teléfono</th>
                <th scope="col">Año De Nacimiento</th>
                <th scope="col">Sexo</th>
                <th scope="col">Peso (cm)</th>
                <th scope="col">Altura</th>
                <th scope="col">Tipo de Sangre</th>
                <th scope="col">Sede</th>
                <th scope="col">Actualizar</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="paciente :${listaPacientes}">
                <td th:text="${paciente.tipodocumento.tipodocumento}"></td>
                <td th:text="${paciente.dni}"></td>
                <td th:text="${paciente.nombres}"></td>
                <td th:text="${paciente.apellidospa}"></td>
                <td th:text="${paciente.apellidosma}"></td>
                <td th:text="${paciente.telefono}"></td>
                <td th:text="${paciente.fechanacimiento}"></td>
                <td th:text="${paciente.sexo}"></td>
                <td th:text="${paciente.peso}"></td>
                <td th:text="${paciente.altura}"></td>
                <td th:text="${paciente.tipodesangre.nomsangre}"></td>
                <td th:text="${paciente.sede.nomsede}"></td>
                <td>
                    <button type="button" class="btn btn-info btnactualizar"
                            th:data-idpaciente="${paciente.idpaciente}"
                            th:data-tipodocumento="${paciente.tipodocumento.idtipodocumento}"
                            th:data-dni="${paciente.dni}"
                            th:data-nombres="${paciente.nombres}"
                            th:data-apellidospa="${paciente.apellidospa}"
                            th:data-apellidosma="${paciente.apellidosma}"
                            th:data-telefono="${paciente.telefono}"
                            th:data-fechanacimiento="${paciente.fechanacimiento}"
                            th:data-sexo="${paciente.sexo}"
                            th:data-peso="${paciente.peso}"
                            th:data-altura="${paciente.altura}"
                            th:data-correo="${paciente.correo}"
                            th:data-contrasena="${paciente.contrasena}"
                            th:data-tipousuario="${paciente.tipousuario.idtipousuario}"
                            th:data-tipodesangre="${paciente.tipodesangre.idtipodesangre}"
                            th:data-sede="${paciente.sede.idsede}">
                        <i class="fas fa-edit"></i>
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>


<!-- Modal Registrar / Actualizar Paciente -->
<div class="modal fade" id="modalNuevo" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Paciente</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="mb-3">
                    <label for="cbotipodocumento" class="form-label">Documento:</label>
                    <select id="cbotipodocumento" class="form-control"></select>
                </div>

                <div class="mb-3">
                    <label for="txtdni" class="form-label">DNI</label>
                    <input type="text" class="form-control" id="txtdni">
                </div>
                <div class="mb-3">
                    <label for="txtnombres" class="form-label">Nombres:</label>
                    <input type="text" class="form-control" id="txtnombres">
                    <div id="txtnombres-error" class="error-mensaje text-danger"></div>
                </div>

                <div class="mb-3">
                    <label for="txtapellidospa" class="form-label">Apellidos Paterno:</label>
                    <input type="text" class="form-control" id="txtapellidospa">
                    <div id="txtapellidospa-error" class="error-mensaje text-danger"></div>
                </div>
                <div class="mb-3">
                    <label for="txtapellidosma" class="form-label">Apellidos Materno:</label>
                    <input type="text" class="form-control" id="txtapellidosma">
                    <div id="txtapellidosma-error" class="error-mensaje text-danger"></div>
                </div>
                <div class="mb-3">
                    <label for="txttelefono" class="form-label">Teléfono:</label>
                    <input type="text" class="form-control" id="txttelefono">
                    <div id="txttelefono-error" class="error-mensaje text-danger"></div>
                </div>
                <div class="mb-3">
                    <label for="txtfechanacimiento" class="form-label">Año de Nacimiento:</label>
                    <input type="date" class="form-control" id="txtfechanacimiento">
                </div>

                <div class="mb-3">
                    <label>Sexo:</label>
                    <div class="d-flex align-items-center">
                        <div class="form-check me-3">
                            <input class="form-check-input" type="radio" name="sexo" id="masculino" value="Masculino">
                            <label class="form-check-label" for="masculino">
                                Masculino
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="sexo" id="femenino" value="Femenino">
                            <label class="form-check-label" for="femenino">
                                Femenino
                            </label>
                        </div>
                    </div>
                </div>

                <div class="mb-3">
                    <label for="txtpeso" class="form-label">Peso (kg):</label>
                    <input type="text" class="form-control" id="txtpeso">
                    <div id="txtpeso-error" class="error-mensaje text-danger"></div>
                </div>
                <div class="mb-3">
                    <label for="txtaltura" class="form-label">Altura (cm):</label>
                    <input type="text" class="form-control" id="txtaltura">
                    <div id="txtaltura-error" class="error-mensaje text-danger"></div>
                </div>

                <div class="mb-3">
                    <label for="txtcorreo" class="form-label">Correo:</label>
                    <input type="text" class="form-control" id="txtcorreo">
                    <div id="txtcorreo-error" class="error-mensaje text-danger"></div>
                </div>

                <div class="mb-3">
                    <label for="txtcontrasena" class="form-label">Contrasena:</label>
                    <input type="password" class="form-control" id="txtcontrasena">
                </div>

                <div class="mb-3">
                    <label for="cbotipousuario" class="form-label">Tipo Paciente:</label>
                    <select id="cbotipousuario" class="form-control"></select>
                </div>

                <div class="mb-3">
                    <label for="cbotipodesangre" class="form-label">Tipo de Sangre:</label>
                    <select type="cbotipodesangre" class="form-control" id="cbotipodesangre"></select>
                </div>
                <div class="mb-3">
                    <label for="cbosede" class="form-label">Sede:</label>
                    <select id="cbosede" class="form-control"></select>
                </div>

                <input type="hidden" id="hddcodpaciente" value="0">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"><i class="fas fa-times"></i> Cancelar</button>
                <button type="button" id="btnguardar" class="btn btn-primary"><i class="fas fa-save"></i> Guardar</button>
            </div>
        </div>
    </div>
</div>
</body>
</html>
