<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Registrar Paciente</title>

    <link th:href="@{/styles/bootstrap/bootstrap.min.css}"
          rel="stylesheet"/>
    <link th:href="@{/styles/fontawesome/all.css}"
          rel="stylesheet"/>
    <script th:src="@{/scripts/bootstrap/bootstrap.bundle.js}"
            type="text/javascript"></script>
    <script th:src="@{/scripts/jquery/jquery.js}"
            type="text/javascript"></script>

</head>
<body>

<script th:src="@{/scripts/web/backoffice/paciente/frmRegistrarPaciente.js}"
        type="text/javascript"></script>

<nav th:fragment="menu" class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">
        <a class="navbar-brand" th:href="@{/login}">EsSalud</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

    </div>

</nav>

<div class="container py-1 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-xl-10">
            <div class="card bg-light">
                <div class="card-body">
                    <h4 class="text-center">Registra tus datos</h4>
                    <hr>
                    <form id="miFormulario">
                        <div class="row">
                            <!-- Columna 1 del formulario de registro -->
                            <div class="col-md-6">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="mb-3">
                                            <label for="cbotipodocumento" class="form-label">Documento:</label>
                                            <select id="cbotipodocumento" class="form-control"></select>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="mb-3">
                                            <label for="txtdni" class="form-label">N° de Documento</label>
                                            <input type="text" class="form-control" id="txtdni">
                                            <div id="txtdni-error" class="error-mensaje text-danger"></div>
                                        </div>
                                    </div>
                                </div>

                                <div class="mb-3">
                                    <label for="txtnombres" class="form-label">Nombres:</label>
                                    <input type="text" class="form-control" id="txtnombres">
                                    <div id="txtnombres-error" class="error-mensaje text-danger"></div>
                                </div>


                                <div class="mb-3">
                                    <label for="txtapellidospa" class="form-label">Apellidos Paterno:</label>
                                    <input type="text" class="form-control" id="txtapellidospa">
                                    <div id="txtapellidospa-error" class="error-mensaje text-danger"></div>
                                </div>
                                <div class="mb-3">
                                    <label for="txtapellidosma" class="form-label">Apellidos Materno:</label>
                                    <input type="text" class="form-control" id="txtapellidosma">
                                    <div id="txtapellidosma-error" class="error-mensaje text-danger"></div>
                                </div>
                                <div class="mb-3">
                                    <label for="txttelefono" class="form-label">Teléfono:</label>
                                    <input type="text" class="form-control" id="txttelefono">
                                    <div id="txttelefono-error" class="error-mensaje text-danger"></div>
                                </div>
                                <div class="mb-3">
                                    <label for="txtfechanacimiento" class="form-label">Año de Nacimiento:</label>
                                    <input type="date" class="form-control" id="txtfechanacimiento">
                                    <div id="txtfechanacimiento-error" class="error-mensaje text-danger"></div>
                                </div>
                                <div class="mb-3">
                                    <label for="cbosede" class="form-label">Sede:</label>
                                    <select id="cbosede" class="form-control"></select>
                                </div>

                            </div>

                            <!-- Columna 2 del formulario de registro -->
                            <div class="col-md-6">
                                <div class="mb-3">
                                    <label for="txtpeso" class="form-label">Peso (kg):</label>
                                    <input type="text" class="form-control" id="txtpeso">
                                    <div id="txtpeso-error" class="error-mensaje text-danger"></div>
                                </div>

                                <div class="mb-3">
                                    <label for="txtaltura" class="form-label">Altura (cm):</label>
                                    <input type="text" class="form-control" id="txtaltura">
                                    <div id="txtaltura-error" class="error-mensaje text-danger"></div>
                                </div>

                                <div class="mb-3">
                                    <label for="txtcorreo" class="form-label">Correo:</label>
                                    <input type="text" class="form-control" id="txtcorreo">
                                    <div id="txtcorreo-error" class="error-mensaje text-danger"></div>
                                </div>

                                <div class="mb-3">
                                    <label for="txtcontrasena" class="form-label">Contrasena:</label>
                                    <input type="password" class="form-control" id="txtcontrasena">
                                    <div id="txtcontrasena-error" class="error-mensaje text-danger"></div>
                                </div>

                                <div class="mb-3">
                                    <label for="cbotipousuario" class="form-label">Tipo Paciente:</label>
                                    <select id="cbotipousuario" class="form-control"></select>
                                </div>

                                <div class="mb-3">
                                    <label for="cbotipodesangre" class="form-label">Tipo de Sangre:</label>
                                    <select type="cbotipodesangre" class="form-control" id="cbotipodesangre"></select>
                                </div>

                                <div class="mb-3">
                                    <label>Sexo:</label>
                                    <div class="d-flex align-items-center">
                                        <div class="form-check me-4">
                                            <input class="form-check-input" type="radio" name="sexo" id="masculino" value="Masculino">
                                            <label class="form-check-label" for="masculino">
                                                Masculino
                                            </label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" name="sexo" id="femenino" value="Femenino">
                                            <label class="form-check-label" for="femenino">
                                                Femenino
                                            </label>
                                        </div>
                                    </div>
                                    <div id="sexo-error" class="error-mensaje text-danger"></div>
                                </div>

                            </div>
                        </div>

                    </form>


                    <div class="row justify-content-center">
                        <div class="col-md-6 text-center">
                            <button type="button" id="btnlimpiar"class="btn btn-secondary"><i class="fas fa-times"></i> Limpiar</button>
                            <button type="button" id="btnguardar" class="btn btn-primary"><i class="fas fa-save"></i> Guardar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
